.product-list {
    display: flex;
    flex-wrap: wrap;
}
.category-list {
    display: flex;
    flex-wrap:wrap;
}
.category-list li {
    margin-right: 10px;
    margin-bottom: 10px;
}
.popular-products {
    display: flex;
    flex-wrap: wrap;
}
